{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block navbar_link %}
<li class="active">
    <a>Write post <span class="sr-only">(current)</span></a>
</li>
{% endblock %}


{% block content %}
{# --- Form --- #}
<form action="{% url 'blog:write_post' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
    {{ form|crispy }}
    <br>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
<br><br>

{# --- Preview --- #}
<h4>Preview:</h4>
<pre>
    <h2 id="preview-title"></h2><p id="preview-image"></p><p id="preview-content"></p>
</pre>
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        // Preview title
        $("#id_title").on("keyup", function() {
            $("#preview-title").text($(this).val());
        });
        
        // Preview image
        $("#id_image").change(function() {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    $("#preview-image").html('<img class="img-responsive" src="' + event.target.result + '" alt="selected image">');
                };
                reader.readAsDataURL(this.files[0]);
            }
        });
        
        // Preview content
        $("#id_content").on("keyup", function() {
            $("#preview-content").text($(this).val());
        });
    });
</script>
{% endblock %}
